<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>VDPActionExtension.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>4</integer>
		</dict>
		<key>VDPActionNOUI.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>12</integer>
		</dict>
		<key>VDPShareExtension.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>3</integer>
		</dict>
		<key>VDPTodayExtension.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>2</integer>
		</dict>
		<key>VencentDeepPockets.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
		<key>VencentDeepPockets_release.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>1</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>261F61AA1EF36FE300822921</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>2629C2AC1E554B89002EB473</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>2629C2C91E554F2F002EB473</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>264B71F51F15C4F900093088</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>264B72081F15C53B00093088</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>26AD7A991F17775400759D3B</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>26DCE8471EFBA5DD00D74F92</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>26EFE4A81DE7E3DF002CD83B</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>26FAEB651F15FED000AB5F97</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
